@import "reset.css";
.container{
    max-width: 1280px;
    margin:60px auto;
}
.admin-item,.course-list{
    font-size: 16px;
    margin-top:10px;
    margin-bottom:10px;
}
h2{
    position: relative;
    font-weight: 600;
    padding-top:15px;
    padding-bottom:15px;
}
h2 + div {
    padding-top:15px;
    border-top:1px dashed #333;
}
.add-btn,.add-course{
    position: absolute;
    top:12px;
    display: inline-block;
    width:24px;
    height:24px;
    margin-left: 20px;
    line-height: 24px;
    text-align: center;
    background:#F0f0f0;
    border-radius: 50%;
    color:#bebebe;
    cursor: pointer;
}
label {
    margin-right:10px;
}
input{
    font-size: 16px;
    border:none;
    outline: none;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #333;
    margin-left: 10px;
}
select{
    width:60px;
    border:1px solid #0076A4;
    padding:4px 0;
}
.course-time{
    margin-top:10px;
}
.course-mes{
    padding-bottom:20px;
    border-bottom:1px solid #bebebe;
}
.course{
    padding-top:10px;
}
.btn{
    text-align: center;
}
.submit {
    display: inline-block;
    padding:10px 15px;
    background:#0076A4;
    color:#fff;
    cursor: pointer;
}
label sapn {
    vertical-align: middle;
}